body {
    font-family: monospace;
    margin: 0;
}

.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-page h1 {
    color: tomato;
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 3%;
}

.welcome-page img {
    margin: 3% auto;
    border-radius: 50%;
}

.welcome-page .user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-page .user-input input {
    margin: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: tomato;
    /* border-bottom-width: thin; */
}

.welcome-page .user-input button {
    margin: 10% auto;
    border: 1px solid tomato;
    color: tomato;
    background-color: white;
    font-size: 0.8em;
    cursor: pointer;
}

.welcome-page .user-input button:hover {
    filter: contrast(95%);
}

.error {
    margin: 10px auto 20px auto;
    color: tomato;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: tomato;
    background-color: rgb(163, 213, 224);
}

.header-content > * {
    margin: 5px auto;
}

header img {
    width: 100px;
    height: 100px;
}

header .line {
    width: 100vw;
    height: 2px;
    background-color: tomato;
}

.profilepic img {
    border-radius: 50%;
    border: 2px solid tomato;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    cursor: pointer;
}

#uploader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: tomato;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#uploader .profilepic {
    position: relative;
    width: 40%;
    margin-bottom: 25px;
}

#uploader .profilepic:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#uploader .profilepic img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.uploader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 70%;
    height: 70%;
    margin: auto;
}

.uploader-content button {
    border: 1px solid tomato;
    color: tomato;
    background-color: white;
    margin: 10px;
    cursor: pointer;
}

.uploader-content button:hover {
    filter: contrast(95%);
}

.uploader-content input {
    display: none;
}

#filename {
    margin: 10px auto;
}

.custom-file-upload {
    border: 1px solid tomato;
    color: tomato;
    background-color: white;
}
