body {
    font-family: monospace;
    margin: 0;
}

.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-page h1 {
    color: tomato;
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 3%;
}

.welcome-page img {
    margin: 3% auto;
    border-radius: 50%;
}

.welcome-page .user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-page .user-input input {
    margin: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: tomato;
    /* border-bottom-width: thin; */
}

.welcome-page .user-input button {
    margin: 10% auto;
    border: 1px solid tomato;
    color: tomato;
    background-color: white;
    font-size: 0.8em;
    cursor: pointer;
}

.welcome-page .user-input button:hover {
    filter: contrast(95%);
}

.error {
    margin: 10px auto 20px auto;
    color: tomato;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url('/background2.png'); */
    min-height: 100vh;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: tomato;
    background-color: rgb(163, 213, 224);
    height: 50px;
}

.header-content > * {
    margin: 5px auto;
}

.header-content .logoname {
    display: flex;
}

header img {
    width: 50px;
    height: 50px;
    position: relative;
    top: 10px;
    margin-right: 10px;
}

header .line {
    width: 100vw;
    height: 2px;
    background-color: tomato;
}

header .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .nav p {
    margin-left: 20px;
    cursor: pointer;
}

.profilepic img {
    border-radius: 50%;
    border: 2px solid tomato;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    top: 20px;
}

#uploader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: tomato;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#uploader .profilepic {
    position: relative;
    width: 60%;
    margin-bottom: 25px;
}

#uploader .profilepic:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#uploader .profilepic img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: default;
}

.uploader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(163, 213, 224);
    width: 40%;
    height: 70%;
    margin: auto;
    border-radius: 5%;
    /* border: 2px solid tomato; */
}

.uploader-content button {
    border: 1px solid tomato;
    color: tomato;
    background-color: rgb(163, 213, 224);
    margin: 10px;
    cursor: pointer;
}

.uploader-content button:hover {
    filter: contrast(95%);
}

.uploader-content input {
    display: none;
}

#filename {
    margin: 10px auto;
}

.custom-file-upload {
    border: 1px solid tomato;
    color: tomato;
    background-color: rgb(163, 213, 224);
    cursor: pointer;
}

.custom-file-upload:hover {
    filter: contrast(95%);
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 50px 0 0 0;
    color: tomato;
    width: 50%;
}

/* .profile .line {
    margin-top: 30px;
    width: 100%;
    height: 2px;
    background-color: rgb(163, 213, 224);
} */

.profile-components {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    color: black;
}

.profile-components > * {
    margin: 20px;
}

.profile-components .profilepic {
    position: relative;
    width: 200px;
    height: 200px;
    min-width: 200px;
}

.profile-components .profilepic:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.profile-components .profilepic img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profileinfo h1 {
    color: tomato;
    margin-top: 0;
}

.bioeditor button {
    /* margin: 10% auto; */
    border: 1px solid tomato;
    color: tomato;
    background-color: white;
    font-size: 0.8em;
    cursor: pointer;
}

.bioeditor button:hover {
    filter: contrast(95%);
}

.bioeditor textarea {
    width: 500px;
    height: 130px;
    display: block;
}

.bioeditor pre {
    width: 500px;
    overflow: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.otherprofile {
    display: flex;
}

.otherprofile .profilepiccontainer {
    position: relative;
    width: 200px;
    height: 200px;
    min-width: 200px;
}

.otherprofile .profilepiccontainer:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.otherprofile .profilepiccontainer img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 2px solid tomato;
}

/* otherprofile stuff here */

footer {
    position: absolute;
    width: 100vw;
    text-align: center;
    bottom: 0;
    background-color: rgb(163, 213, 224);
    color: tomato;
    border-top: 2px solid tomato;
}

footer h6 {
    padding: 5px auto;
    font-size: 1.2em;
    margin: 0;
}
